$font-small: 14px;
$font-medium: 16px;
$font-large: 24px;

.products-area-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 4px;
}

.tableView {
  .products-header {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: var(--app-content-secondary-color);
    position: sticky;
    top: 0;
  }

  .product-cell {
    flex: 1;
    padding: 8px 16px;
    color: var(--app-content-main-color);
    font-size: $font-small;
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      border-radius: 6px;
      margin-right: 6px;
    }

    @media screen and (max-width: 780px) {&{
      font-size: 12px;
      &.image span { display: none; }
      &.image { flex: 0.2; }
    }}

    @media screen and (max-width: 520px) {&{
      &.category, &.sales {
        display: none;
      }
      &.status-cell { flex: 0.4; }
      &.stock, &.price { flex: 0.2; }
    }}

    @media screen and (max-width: 480px) {&{
      &.stock { display: none; }
      &.price { flex: 0.4; }
    }}
  }

  .sort-button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--app-content-main-color);
    margin-left: 4px;
    display: flex;
    align-items: center;

    &:hover { color: var(--action-color); }
    svg { width: 12px; }
  }
}

.status {
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 12px;

  &:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 4px;
  }

  &.active {
    color: #2ba972;
    background-color: rgba(43, 169, 114, 0.2);

    &:before {
      background-color: #2ba972;
    }
  }

  &.disabled {
    color: #59719d;
    background-color: rgba(89, 113, 157, 0.2);

    &:before {
      background-color: #59719d;
    }
  }
}

.gridView {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;

  @media screen and (max-width: 520px) {&{
    margin: 0;
  }}

  .products-header {
    display: none;
  }

  .products-row {
    width: calc(25% - 16px);

    @media screen and (max-width: 1024px) {&{
      width: calc(33.3% - 16px);
    }}

    @media screen and (max-width: 820px) {&{
      width: calc(50% - 16px);
    }}

    @media screen and (max-width: 520px) {&{
      width: 100%;
      margin: 8px 0;

      &:hover {
        transform: none;
      }
    }}

  }
}