<div class="products-area-wrapper gridView">
  @for (product of products(); track product.id) {
  <app-product [product]="product" (click)="openModal(product)"> </app-product>

  } @if (products().length === 0) {
  <h1 class="">No favorites selected, Yet!.</h1>
  }
</div>

<!-- Modal -->
@if (selectedProduct()) {
<div class="modal">
  <div class="modal-content">
    <app-product-details
      [selectedProduct]="selectedProduct()"
      (close)="closeModal()"
    >
    </app-product-details>
  </div>
</div>
}
