<div class="app-container">
  <div class="sidebar">
    <div class="account-info">
      <div class="account-info-picture">
        <img
          alt="Account"
          src="https://avatars.githubusercontent.com/u/190013089?v=4"
        />
      </div>
      <div class="account-info-name">Zim E.</div>
      <button class="account-info-more">
        <svg
          class="feather feather-more-horizontal"
          fill="none"
          height="24"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="12" cy="12" r="1" />
          <circle cx="19" cy="12" r="1" />
          <circle cx="5" cy="12" r="1" />
        </svg>
      </button>
    </div>
  </div>
  <div class="app-content">
    <div class="app-content-header">
      <h1 class="app-content-headerText">Products</h1>
      <button
        (click)="toggleMode()"
        [ngClass]="{ active: isLightMode }"
        class="mode-switch"
        title="Switch Theme"
      >
        <svg
          class="moon"
          fill="none"
          height="24"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          width="24"
        >
          <defs></defs>
          <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
        </svg>
      </button>
    </div>

    <div class="app-content-actions">
      <div class="app-content-actions-wrapper">
        <div class="filter-button-wrapper">
          <button
            (click)="toggleFilterMenu()"
            class="action-button filter jsFilter"
          >
            <span>Filter</span>
            <svg
              class="feather feather-filter"
              fill="none"
              height="16"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
            </svg>
          </button>
          <div [ngClass]="{ active: isFilterMenuActive }" class="filter-menu">
            <label>Category</label>
            <select (change)="onCategoryChange($event)">
              <option
                *ngFor="let category of categories"
                [value]="category.name"
              >
                {{ category.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
