<div [ngClass]="viewType" class="products-area-wrapper">
  @for (product of products(); track product.id) {
  <app-product
    [product]="product"
    [context]="viewType"
    (click)="openModal(product)"
  >
  </app-product>

  } @if (products().length === 0) {
  <p>No products available.</p>
  }
</div>

<!-- Modal -->
@if (selectedProduct()) {
<div class="modal">
  <div class="modal-content">
    <app-product-details [selectedProduct]="selectedProduct()">
    </app-product-details>
    <h3>{{ selectedProduct()?.title }}</h3>
    <p>Price: ${{ selectedProduct()?.price }}</p>
    <button (click)="closeModal()">Close</button>
  </div>
</div>
}
