<div class="product-details-container">
    <ng-container *ngIf="selectedProduct">
       <div class="product-image">
         <img
           *ngIf="selectedProduct.image.url"
           [alt]="selectedProduct.name || 'Product Image'"
           [src]="selectedProduct.image.url"
           loading="lazy"
         >
       </div>

        <div class="product-info">
            <h2 class="product-title">{{ selectedProduct.name }}</h2>
            <p class="product-description">
                {{ selectedProduct.description }}
            </p>
            <ul class="product-meta">
                <li><strong>Category:</strong> {{ selectedProduct.category.name }}</li>
                <li><strong>Status:</strong> {{ selectedProduct.state }}</li>
                <li><strong>Stock:</strong> {{ selectedProduct.stock }}</li>
                <li><strong>Price:</strong> ${{ selectedProduct.price }}</li>
            </ul>
            <button class="btn primary">Buy Now</button>

            <div class="countdown" *ngIf="countdownText">
                <p>Order within <span class="countdown-timer">{{ countdownText }}</span> to get it delivered tomorrow!</p>
            </div>
        </div>
    </ng-container>
</div>

<div class="similar-items">
    <h3 class="similar-items-title">Similar Items</h3>
    <ng-container *ngIf="categoryProducts.length">
        <ul class="similar-items-list">
          <li *ngFor="let product of categoryProducts" [routerLink]="['/product', product.name]">
            <img [alt]="product.name" [src]="product.image.url" />
            <span class="similar-item-name">{{ product.name }}</span>
          </li>
        </ul>
    </ng-container>
</div>